/Battlecode Client.exe
/blink_image_resources_200_percent.pak
/content_resources_200_percent.pak
/content_shell.pak
/d3dcompiler_47.dll
/ffmpeg.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/LICENSE.electron.txt
/LICENSES.chromium.html
/natives_blob.bin
/node.dll
/snapshot_blob.bin
/ui_resources_200_percent.pak
/views_resources_200_percent.pak
/xinput1_3.dll
